@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Thasadith', sans-serif;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1118448/pexels-photo-1118448.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
header, main {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(256, 256, 256, 0.5);
}
main {
  background-color: white;
  padding: 20px;
}
h1 {
  color: #086f80;
}
#description {
  padding: 10px 0 20px 0;
}
.col-right p {
  display: flex;
}
div {
  width: 50%;
  padding: 0 10px 20px 0;
  @media(max-width: 500px) {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
  } 
}
.col-left {
  @media(min-width: 500px) {
    text-align: right;
  }
}
.col-right {
  text-align: left;
}

/* form */
form {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  
}
.col-left label {
  display: block;
  padding-top: 4px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input, select, textarea, #submit {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #0fddff;
  font-family: 'Thasadith', sans-serif;
  font-size: 0.9em;
}
select {
  height: 32px;
  background-color: white;
}
input[type="checkbox"], input[type="radio"] {
  margin: 6px 6px 0px -3px;
  max-width: 20px;
}
#submit {
  width: 50%;
  margin: auto;
  background-color: #086f80;
  color: white;
  font-weight: bold;
  border: 0;
}